body{
    /* background-color: rgba(214, 222, 212, 0.521); */
    background-image: url(https://images.unsplash.com/photo-1604594849809-dfedbc827105?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}
.container {
    position: absolute;
    text-align: center;
    left: 33%;
    
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}

table{
    background-image: linear-gradient(to left, rgb(255, 242, 0),rgb(240, 240, 240),rgb(255, 221, 0));
    box-shadow: 5px 5px 5px 5px gray;

}

th{
    background-color: rgba(88, 225, 14, 0.726);
    background-image: linear-gradient(to left, rgb(255, 242, 0),rgb(240, 240, 240),rgb(255, 221, 0));
    font-size: larger;
}

.btn{
    background-color: goldenrod;
    font-size: large;
    font-style: italic;
    box-shadow: 5px 5px 5px 5px gray;
}
